snippet snip "the snippet snippet"
snippet ${1:trigger} "${2:description}" ${3:options}
${4:body}
`echo endsnippet`
endsnippet
snippet date "current date"
`date +"%Y-%m-%d"`
endsnippet
snippet hour "current time of day"
`date +"%H:%m:%S"`
endsnippet
